---
title: Palloi Hofmann - Desenvolvedor front-end e back-end
description: Palloi Hofmann - Desenvolvedor front-end desde 2007, co-fundador da produtora CSS4HTML e já atuou por diversas agências, e hoje faz parte do time de front-end de Produtos da locaweb.
keywords: css4html, css+for+html, css 4 html, css4, css4 html, css, css3, html, html5, parallax, frontend, backend, rails, ruby, rubyonrails, php, c#, dotnet, linux, windows, facebook, mobile, chrome, firefox, internet
canonical: http://palloi.com.br/
image: http://palloi.com.br/assets/images/palloi-css-conference.jpg
---

<div class="ph-welcome">
  <h1 class="ph-title">Palloi Hofmann</h1>
  <ul class="ph-list">
    <li class="ph-list-item">
      <%= link_to "twitter", "https://twitter.com/palloi", class: 'ph-link', target: '_blank' %>
    </li>
    <li class="ph-list-item">
      <%= link_to "facebook", "https://www.facebook.com/palloi", class: 'ph-link', target: '_blank' %>
    </li>
    <li class="ph-list-item">
      <%= link_to "instagram", "https://instagram.com/palloi/", class: 'ph-link', target: '_blank' %>
    </li>
    <li class="ph-list-item">
      <%= link_to "artigos", "http://tableless.com.br/author/palloi/", class: 'ph-link', target: '_blank' %>
    </li>
  </ul>
</div>
